*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // background-image: url('../src/images/bg-pattern.png');
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
}

.flag-container {
  border: solid 1px rgb(151, 151, 151);
  width: 200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.drop-list,
.card-list {
  list-style: none;
}
